@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <title>Page Title</title>
    <link href="external.css" rel="stylesheet" />
</head>
<body>

    <h1> זאת כותרת</h1>
    <p>פסקה</p>
    <p style="color:red"> פסקה בצבע אדום</p>
    <p style="text-align:center"> פסקה באמצע</p>

    <hr />
    <img src="https://ims.gov.il/sites/default/files/318230316_455009990142487_7835989085564579121_n.jpg" alt="Sunset" width=500>
    <br />
    <br />
    <br />
    <hr />
    <a href="https://www.w3schools.com/">Visit W3Schools.com!</a>

</body>
</html>
