@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<h1>Tour de France Gallery</h1>
<p>Here are some memorable moments from the Tour de France:</p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/img/gettyimages-1408416637-2048x2048.jpg" alt="Gallery Image 1" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-md-4">
            <img src="/img/gettyimages-1408654831-2048x2048.jpg" alt="Gallery Image 2" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-md-4">
            <img src="/img/gettyimages-1409318576-2048x2048.jpg" alt="Gallery Image 3" class="img-fluid img-thumbnail" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/img/gettyimages-1410105775-2048x2048.jpg" alt="Gallery Image 4" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-md-4">
            <img src="/img/gettyimages-1410735630-2048x2048.jpg" alt="Gallery Image 5" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-md-4">
            <img src="/img/gettyimages-1549200016-2048x2048.jpg" alt="Gallery Image 6" class="img-fluid img-thumbnail" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/img/gettyimages-1550209351-2048x2048.jpg" alt="Gallery Image 1" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-md-4">
            <img src="/img/gettyimages-1556679744-2048x2048.jpg" alt="Gallery Image 2" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-md-4">
            <img src="/img/gettyimages-1566491647-2048x2048.jpg" alt="Gallery Image 3" class="img-fluid img-thumbnail" />
        </div>
    </div>
</div>

