@page
@model HistoryModel
@{
    ViewData["Title"] = "History";
}

<h1>History of the Tour de France</h1>
<p>The Tour de France was first organized in 1903 to increase sales for the newspaper L'Auto.</p>
<img src="/img/history.jpg" width="500"/>