@page
@model StagesModel
@{
    ViewData["Title"] = "Stages";
}

<h1>Stages of the Tour de France</h1>
<p>The race typically has 21 day-long segments (stages) over a 23-day period and covers around 3,500 kilometers (2,200 mi).</p>
<img src="~/img/route.jpg" width="500"/>