@page
@model WinnersModel
@{
    ViewData["Title"] = "Winners";
}

<h1>Notable Winners</h1>
<ul>
    <li>Jacques Anquetil</li>
	<img src="~/img/jacques anquetil.jpg" width="300"/>
    <li>Bernard Hinault</li>
    <img src="~/img/bernard hinault.jpg" width="300" />
    <li>Miguel Indurain</li>
    <img src="~/img/miguel_indurain.jpg" width="300" />
    <li>Chris Froome</li>
    <img src="~/img/chris froom.jpg" width="300" />
</ul>
