@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="name" class="display-4">Welcome</h1>
    <p id="demo">This is my first page</p>
    <a href="/NewPage">
    <img src="~/img/earth_from_space.jpg" width="200" />
    </a>
    <br />
    <a href="/NewPage">לדף החדש</a>
</div>

