@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var sessionValue = HttpContext.Session.GetString("Login");
    if (sessionValue == null)
        sessionValue = "Guest";

}

<div class="text-center">
    <h1 id="name" class="display-4">Welcome @sessionValue</h1>
    <p id="demo">This is my first page</p>
    <a href="/NewPage">
    <img src="~/img/earth_from_space.jpg" width="200" />
    </a>
    <br />
    <a href="/NewPage">לדף החדש</a>
</div>

