@page
@model NewWebApp.Pages.NewpageModel
@{

}
<div class="text-center">
    <p id="demo">This is the new page</p>
    <a href="/Index">
        <img src="~/img/India.jpg" width="200" />
    </a>
    <br />
    <p> My trip to India</p>
</div>