@page
@model NewWebApp.Pages.usersModel
@{
    ViewData["Title"] = "Registered Users";
}
@using System.Data;

<h2>Registered Users</h2>
<div class="input-group mb-3">
    <form method="post" asp-page-handler="Filter" style="width:40%">
        <div class="input-group mb-3">
            <input asp-for="filter" type="text" class="form-control" placeholder="Enter text to filter">
            <button type="submit" class="btn btn-primary me-3" id="Filter_btn">Filter</button>
        </div>
    </form>
    <form method="post" asp-page-handler="Sort" style="width:40%">
        <div class="input-group mb-3">
            <select asp-for="column" class="form-select" style="width:50%">
                <option value="Id" selected>Id</option>
                <option value="Username">Username</option>
                <option value="Email">Email</option>
                <option value="First name">First name</option>
                <option value="Last name">Last name</option>
            </select>
            <select asp-for="order" class="form-select" style="width:25%">
                <option value="ASC">Ascending</option>
                <option value="DESC">Desending</option>
            </select>
            <button class="btn btn-success me-3" type="Submit" id="Sort_btn">Sort</button>
        </div>
    </form>

</div>
<table class="table">
    <thead>
        <tr>
            @foreach (DataColumn column in Model.dt.Columns)
            {
                <th>@column.ColumnName</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.dt.Rows)
        {
            <tr>
                @foreach (DataColumn column in Model.dt.Columns)
                {
                    <td>@row[column]</td>
                }
                <td><a asp-page="/Content/Update" asp-route-param="@row["Id"]">update</a></td>
            </tr>
        }
    </tbody>
</table>

