
ul {
    list-style-type: none; /*Hide the bullets*/
    background-color: lightblue;
    padding: 2px;
    border: solid 3px black;
    margin: 2px;
    overflow:hidden;
}


li {
    background-color: cadetblue;
    float: left;
    width: 11%;
    margin: 2px;
    padding: 3px;
    border: red 2px solid;
}


    li a {
        background-color: antiquewhite;
        display: block; /* make the box around the link clickable */
        padding: 10px; /*space around the block*/
        margin: 10px;
        text-align: center;
        border: purple solid 2px;
    }


        li a:hover {
            background-color: black;
            color: white;
            
        }


.dropDownContent {
    /*display: none;*/ /* hide the sub list if not hoover*/
    position: absolute; /*position outsize the main list*/
    width: 11%;
    z-index: 2; /*put the list infront any element*/
    background-color: cadetblue;
    margin: 2px;
    height: 0px; /* hide the sub list if not hoover*/
    transition: Height 2s;
    overflow: hidden;
}


.dropDown:hover .dropDownContent {
    display: block;
    height: 300px;
}


/*.active {
    background-color: blue;*/
    /*display:none;*/
    /*visibility:hidden;
}*/

    iframe {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
