<!DOCTYPE html>
<html lang="en">
 @using Microsoft.AspNetCore.Http
@{
    var user = "Guest";
    var sessionValue = Context.Session.GetString("Login");
    var admin = Context.Session.GetString("Admin");
    if (!string.IsNullOrEmpty(sessionValue))
        user = sessionValue;
 }
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFirstRazorApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyFirstRazorApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (!string.IsNullOrEmpty(sessionValue))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Content/History">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Content/Winners">Winners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Content/Stages">Stages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Content/Gallery">Gallery</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-decoration-underline text-black" asp-area="" asp-page="/Content/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-decoration-underline text-black" asp-area="" asp-page="/Content/Login">Login</a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-decoration-underline text-black" asp-area="" asp-page="/Content/users">Users</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <span>Welcome @user
            @if (!string.IsNullOrEmpty(sessionValue))
            {
                 <a href="/logout">Logout</a>
            }
            else
            {
                 <a href="/Content/Login">Login</a>
            }
            </span>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-bottom text-muted">
        <div class="container">
            &copy; 2024 - TDFApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>